Series — 1D Labeled Array
A Series is like a list with labels (index).

In [5]:
import pandas as pd
s=pd.Series([10,20,30,40])
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
type(s)

pandas.core.series.Series

In [8]:
s1=pd.Series([10,20,30,40],index=['Rohan','harry','subham','John'])
print(s1)

Rohan     10
harry     20
subham    30
John      40
dtype: int64

In [11]:
print(s1['John'])

40

DataFrame — 2D Labeled Table
A DataFrame is like a dictionary of Series — multiple columns with labels.

In [12]:
data = {
    "name": ["Alice", "Bob", "Charlie"],
    "age": [25, 30, 35],
    "city": ["Delhi", "Mumbai", "Bangalore"]
}

df = pd.DataFrame(data)
print(df)

      name  age       city
0    Alice   25      Delhi
1      Bob   30     Mumbai
2  Charlie   35  Bangalore

In [13]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [15]:
df.columns

Index(['name', 'age', 'city'], dtype='object')