In [2]:
import pandas as pd
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv"
df = pd.read_csv(url)

In [3]:
print(df)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
print(df.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
df.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [6]:
df['tip']

0      1.01
1      1.66
2      3.50
3      3.31
4      3.61
       ...
239    5.92
240    2.00
241    2.00
242    1.75
243    3.00
Name: tip, Length: 244, dtype: float64

In [7]:
df['tip'].head()

0    1.01
1    1.66
2    3.50
3    3.31
4    3.61
Name: tip, dtype: float64

In [8]:
df[['tip','day']]

      tip   day
0    1.01   Sun
1    1.66   Sun
2    3.50   Sun
3    3.31   Sun
4    3.61   Sun
..    ...   ...
239  5.92   Sat
240  2.00   Sat
241  2.00   Sat
242  1.75   Sat
243  3.00  Thur

[244 rows x 2 columns]

In [9]:
df.loc[0]

total_bill     16.99
tip             1.01
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 0, dtype: object

In [10]:
df.iloc[0]

total_bill     16.99
tip             1.01
sex           Female
smoker            No
day              Sun
time          Dinner
size               2
Name: 0, dtype: object

In [13]:
print(df.loc[0, "sex"])        # Value at row 0, column 'Name'
print(df.iloc[0, 1])            # Value at row 0, column at index 1

Female
1.01

In [17]:
#loc for label based
print("Label Based")
print(df.loc[0:2,["tip","sex"]])

#iloc is index based
print("Index base")
print(df.iloc[0:3,0:4])

Label Based
    tip     sex
0  1.01  Female
1  1.66    Male
2  3.50    Male
Index base
   total_bill   tip     sex smoker
0       16.99  1.01  Female     No
1       10.34  1.66    Male     No
2       21.01  3.50    Male     No

In [18]:
df.at[0,"sex"]
df.iat[0,0]

np.float64(16.99)

In [22]:
print(df[df["sex"]=="Male"])

     total_bill   tip   sex smoker  day    time  size
1         10.34  1.66  Male     No  Sun  Dinner     3
2         21.01  3.50  Male     No  Sun  Dinner     3
3         23.68  3.31  Male     No  Sun  Dinner     2
5         25.29  4.71  Male     No  Sun  Dinner     4
6          8.77  2.00  Male     No  Sun  Dinner     2
..          ...   ...   ...    ...  ...     ...   ...
236       12.60  1.00  Male    Yes  Sat  Dinner     2
237       32.83  1.17  Male    Yes  Sat  Dinner     2
239       29.03  5.92  Male     No  Sat  Dinner     3
241       22.67  2.00  Male    Yes  Sat  Dinner     2
242       17.82  1.75  Male     No  Sat  Dinner     2

[157 rows x 7 columns]

In [27]:
print(df[(df["size"]==3) & (df["tip"]>2.00)])

     total_bill    tip     sex smoker   day    time  size
2         21.01   3.50    Male     No   Sun  Dinner     3
17        16.29   3.71    Male     No   Sun  Dinner     3
18        16.97   3.50  Female     No   Sun  Dinner     3
19        20.65   3.35    Male     No   Sat  Dinner     3
35        24.06   3.60    Male     No   Sat  Dinner     3
37        16.93   3.07  Female     No   Sat  Dinner     3
38        18.69   2.31    Male     No   Sat  Dinner     3
39        31.27   5.00    Male     No   Sat  Dinner     3
40        16.04   2.24    Male     No   Sat  Dinner     3
48        28.55   2.05    Male     No   Sun  Dinner     3
64        17.59   2.64    Male     No   Sat  Dinner     3
65        20.08   3.15    Male     No   Sat  Dinner     3
71        17.07   3.00  Female     No   Sat  Dinner     3
102       44.30   2.50  Female    Yes   Sat  Dinner     3
112       38.07   4.00    Male     No   Sun  Dinner     3
114       25.71   4.00  Female     No   Sun  Dinner     3
129       22.82   2.18    Male     No  Thur   Lunch     3
152       17.26   2.74    Male     No   Sun  Dinner     3
165       24.52   3.48    Male     No   Sun  Dinner     3
170       50.81  10.00    Male    Yes   Sat  Dinner     3
182       45.35   3.50    Male    Yes   Sun  Dinner     3
186       20.90   3.50  Female    Yes   Sun  Dinner     3
188       18.15   3.50  Female    Yes   Sun  Dinner     3
189       23.10   4.00    Male    Yes   Sun  Dinner     3
200       18.71   4.00    Male    Yes  Thur   Lunch     3
205       16.47   3.23  Female    Yes  Thur   Lunch     3
206       26.59   3.41    Male    Yes   Sat  Dinner     3
214       28.17   6.50  Female    Yes   Sat  Dinner     3
223       15.98   3.00  Female     No   Fri   Lunch     3
231       15.69   3.00    Male    Yes   Sat  Dinner     3
238       35.83   4.67  Female     No   Sat  Dinner     3
239       29.03   5.92    Male     No   Sat  Dinner     3

In [30]:
print(df[(df["day"]=="Sun" )& (df["smoker"]=="No")])

     total_bill   tip     sex smoker  day    time  size
0         16.99  1.01  Female     No  Sun  Dinner     2
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
4         24.59  3.61  Female     No  Sun  Dinner     4
5         25.29  4.71    Male     No  Sun  Dinner     4
6          8.77  2.00    Male     No  Sun  Dinner     2
7         26.88  3.12    Male     No  Sun  Dinner     4
8         15.04  1.96    Male     No  Sun  Dinner     2
9         14.78  3.23    Male     No  Sun  Dinner     2
10        10.27  1.71    Male     No  Sun  Dinner     2
11        35.26  5.00  Female     No  Sun  Dinner     4
12        15.42  1.57    Male     No  Sun  Dinner     2
13        18.43  3.00    Male     No  Sun  Dinner     4
14        14.83  3.02  Female     No  Sun  Dinner     2
15        21.58  3.92    Male     No  Sun  Dinner     2
16        10.33  1.67  Female     No  Sun  Dinner     3
17        16.29  3.71    Male     No  Sun  Dinner     3
18        16.97  3.50  Female     No  Sun  Dinner     3
41        17.46  2.54    Male     No  Sun  Dinner     2
42        13.94  3.06    Male     No  Sun  Dinner     2
43         9.68  1.32    Male     No  Sun  Dinner     2
44        30.40  5.60    Male     No  Sun  Dinner     4
45        18.29  3.00    Male     No  Sun  Dinner     2
46        22.23  5.00    Male     No  Sun  Dinner     2
47        32.40  6.00    Male     No  Sun  Dinner     4
48        28.55  2.05    Male     No  Sun  Dinner     3
49        18.04  3.00    Male     No  Sun  Dinner     2
50        12.54  2.50    Male     No  Sun  Dinner     2
51        10.29  2.60  Female     No  Sun  Dinner     2
52        34.81  5.20  Female     No  Sun  Dinner     4
53         9.94  1.56    Male     No  Sun  Dinner     2
54        25.56  4.34    Male     No  Sun  Dinner     4
55        19.49  3.51    Male     No  Sun  Dinner     2
112       38.07  4.00    Male     No  Sun  Dinner     3
113       23.95  2.55    Male     No  Sun  Dinner     2
114       25.71  4.00  Female     No  Sun  Dinner     3
115       17.31  3.50  Female     No  Sun  Dinner     2
116       29.93  5.07    Male     No  Sun  Dinner     4
150       14.07  2.50    Male     No  Sun  Dinner     2
151       13.13  2.00    Male     No  Sun  Dinner     2
152       17.26  2.74    Male     No  Sun  Dinner     3
153       24.55  2.00    Male     No  Sun  Dinner     4
154       19.77  2.00    Male     No  Sun  Dinner     4
155       29.85  5.14  Female     No  Sun  Dinner     5
156       48.17  5.00    Male     No  Sun  Dinner     6
157       25.00  3.75  Female     No  Sun  Dinner     4
158       13.39  2.61  Female     No  Sun  Dinner     2
159       16.49  2.00    Male     No  Sun  Dinner     4
160       21.50  3.50    Male     No  Sun  Dinner     4
161       12.66  2.50    Male     No  Sun  Dinner     2
162       16.21  2.00  Female     No  Sun  Dinner     3
163       13.81  2.00    Male     No  Sun  Dinner     2
165       24.52  3.48    Male     No  Sun  Dinner     3
166       20.76  2.24    Male     No  Sun  Dinner     2
167       31.71  4.50    Male     No  Sun  Dinner     4
185       20.69  5.00    Male     No  Sun  Dinner     5

In [31]:
print(df[(df["day"]=="Mon")|(df["smoker"]=="Yes")])

     total_bill   tip     sex smoker  day    time  size
56        38.01  3.00    Male    Yes  Sat  Dinner     4
58        11.24  1.76    Male    Yes  Sat  Dinner     2
60        20.29  3.21    Male    Yes  Sat  Dinner     2
61        13.81  2.00    Male    Yes  Sat  Dinner     2
62        11.02  1.98    Male    Yes  Sat  Dinner     2
..          ...   ...     ...    ...  ...     ...   ...
234       15.53  3.00    Male    Yes  Sat  Dinner     2
236       12.60  1.00    Male    Yes  Sat  Dinner     2
237       32.83  1.17    Male    Yes  Sat  Dinner     2
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2

[93 rows x 7 columns]

In [32]:
df.query("sex=='Male' and size>4")

     total_bill  tip   sex smoker   day    time  size
141       34.30  6.7  Male     No  Thur   Lunch     6
142       41.19  5.0  Male     No  Thur   Lunch     5
156       48.17  5.0  Male     No   Sun  Dinner     6
185       20.69  5.0  Male     No   Sun  Dinner     5
187       30.46  2.0  Male    Yes   Sun  Dinner     5
216       28.15  3.0  Male    Yes   Sat  Dinner     5

In [41]:
df.query("`sex`=='Male' and `size`>4")

     total_bill  tip   sex smoker   day    time  size
141       34.30  6.7  Male     No  Thur   Lunch     6
142       41.19  5.0  Male     No  Thur   Lunch     5
156       48.17  5.0  Male     No   Sun  Dinner     6
185       20.69  5.0  Male     No   Sun  Dinner     5
187       30.46  2.0  Male    Yes   Sun  Dinner     5
216       28.15  3.0  Male    Yes   Sat  Dinner     5